header {
  height: 100px;
  background-color: black;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
.logo {
  width: 200px;
  margin-top: 10px;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
a {
  color: white;
}
